{:paths ["src" "resources" "test/support"]
 :deps  {org.clojure/clojure       {:mvn/version "1.10.1"}
         lambdaisland/kaocha       {:mvn/version "0.0-554"}
         io.cucumber/cucumber-java {:mvn/version "4.2.2"}}
 :aliases
 {:dev
  {}

  :test
  {:extra-deps {akvo/fs {:mvn/version "20180904-152732.6dad3934"}}}}}
