{:paths ["src" "resources" "test/support"]
 :deps  {org.clojure/clojure       {:mvn/version "1.10.0-RC3"}
         lambdaisland/kaocha       {:mvn/version "0.0-266"}
         io.cucumber/cucumber-java {:mvn/version "4.2.0"}}
 :aliases {:dev {} :test {}}}
