#kaocha/v1
{:tests [{:id :cukes
          :type :kaocha.type/cucumber
          :source-paths ["src"]
          :test-paths ["test/features"]
          :cucumber/glue-paths ["test/features/step_definitions"]}]}
